body {
  font-family: 'Roboto Mono', monospace;
  font-size: 3em;
  height: 100vh;
  display: flex;
	flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}

p {
  width: 30%;
  text-align: center;
}

del {
  text-decoration-color: red;
}

ins {
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-size: 1.2em;
  color: red;
  position:absolute;
  transform:rotate(-5deg);
  margin-left: -60px;
  margin-top: -30px;
}
html { 
  background-size: cover;
}
.title {
	font-family: "Butlers-ultralight";
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
/*	height: 40vh;*/
	letter-spacing: 1px;
	margin-left: 5vw;
}
.title span {
	background:  url(https://media.giphy.com/media/26xBsGlPgE9tLTkR2/giphy.gif) no-repeat center center fixed; 
  background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 60px;
	font-size: 60px;
	font-weight: 600;
	line-height: .75;
	margin: 10px 0;
}

.running_text {
  padding: 2em 5em;
  font: 40px/50px "Butlers-Ultralight",serif;
	font-weight: 600;
  color: #999;
	font-family: ;
	font-weight: 200;
}
.running_text p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.running_text b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 5px;
}
.running_text .irunning_text {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
 font-family: "Varela round";
	font-weight: 200;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
